<h2>Welkom bij {{ title }}</h2>
<div *ngIf="isActive; else andereTemplate">
	Dit wordt getoond als isActive 'true' is!
</div>
<div>
<ng-template #andereTemplate>
	Dit wordt getoond als isActive 'false' is!
</ng-template>
</div>
<ol>
    <span *ngFor="let student of studenten">
        <li>{{student}}</li>
    </span>
</ol>
<div [ngSwitch]="getal">
	<p *ngSwitchCase="'0'">Je koos voor 0.</p>
	<p *ngSwitchCase="'1'">Je koos voor 1.</p>
	<p *ngSwitchCase="'2'">Je koos voor 2.</p>
	<p *ngSwitchDefault>Je hebt gekozen voor {{getal}}.</p>
</div>
<h2 class="text-special" [class]="successClass">Demo header</h2>
<h2 [class.text-danger]="hasError">Demo header</h2>
<h2 [ngClass]="messageClasses">Demo header</h2>

<h3 [style.color]="hasError ? 'red' : 'green'">Style Binding</h3>
<h3 [style.color]="highlightColor">Style Binding</h3>
<h3 [ngStyle]="titleStyles">Style Binding</h3>
<div>
    <img [src]="imageUrl" [alt]="imageAlt" />
</div>
<button (click)="onButtonClick()">Klik op mij!</button>