<h1>App component</h1>
<nav>
    <ul>
        <li>
            <a routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li>
            <a routerLink="/demo" routerLinkActive="active">Demo</a>
        </li>
        <li>
            <a routerLink="/autos" routerLinkActive="active">Auto list</a>
        </li>
        <li>
            <a routerLink="/film" routerLinkActive="active">Film</a>
        </li>
        <li>
            <a routerLink="/bestellingen" routerLinkActive="active">Bestellingen</a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
